html, body {
    background-color: #ccd3d4;
}

.line-logo {
    height: 1.2em;
    vertical-align: bottom;
}

.card-image-right {
    float: right;
    height: 80px;
    opacity: 0.8;
    margin-left: 12px;
}

.card {
    background-color: #fbfbfb;
}

a .card:hover {
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
    transition: box-shadow 0.1s ease-in-out;
}

a:hover {
    text-decoration: none;
}

a:hover p {
    text-decoration: underline;
}

a .card-title {
    color: #333;
}

.twitch-card {
    background: linear-gradient(to bottom, #501e9a 0%, #612ad8 50%, #5920ca 51%, #777ed6 100%);
    color: white;
}

.compact-card .card-body {
    padding-top: 5px;
    padding-bottom: 0;
}

.twitch-card .card-title {
    color: white;
}

.comparison-checks {
    color: #333;
}

.gCalFlow .gcf-header-block {
    background: #7289da;
    padding: 10px;
}

.gCalFlow .gcf-item-block {
    padding: 2px 8px;
}

.gCalFlow .gcf-item-container-block {
    height: 150px;
}

.gCalFlow {
    width: 350px;
    height: auto;
    margin-bottom: 15px;
    border: none;
}

.gCalFlow a.gcf-subscribe {
    float: right;
    background-color: white;
    text-decoration: none;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0 2px;
    border-radius: 3px;
}

.ft-img {
    height: 32px;
}

img.gray-to-color {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .1s ease-in-out;
    transition: .2s ease-in-out;
}

img:hover.gray-to-color {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

a h1, a:hover h1 {
    color: rgb(33, 37, 41);
}

.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 2%
}

.languages a {
    width: 100%;   
}

@media (min-width: 1200px) {
    .languages a {
        width: 49%;   
    }
}

.languages .card {
    height: 8rem;
    margin-bottom: 1rem;
}